[submodule "themes/hugo-coder-portfolio"]
	path = themes/hugo-coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio.git
[submodule "public"]
	path = public
	url = git@github.com:cas27/cas27.github.io.git
	branch = master
